.container {
  max-width: 768px;
  background-color: #FBF9F7;
  width: 60vw;
  height: 150vh;
  margin: 0 auto;
  border-radius: 2rem;
}

.cover {
  background-image: url("./cover.jpg");
  background-size: cover;
  background-color: #808080;
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.menu {
  height: 3rem;
  width: 100%;
}

.mainContainer {
  height: 50%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: 80%;
}

.statistics {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}


.statistic {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.statistic span {
  display: flex;
  color: #DB924B;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.statistic div {
  margin-left: 10px;
}

.statistic div h4 {
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
}

.statistic div p {
  margin: 0;
  font-size: 0.5rem;
}
