.container {
  background-color: #FBF9F7;
  width: 60vw;
  height: 150vh;
  margin: 0 auto;
  border-radius: 2rem;
}

.cover {
  background-image: url("./cover.jpg");
  background-size: cover;
  background-color: #808080;
  height: 50%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu {
  height: 3rem;
  width: 100%;
}

